header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Slabo 27px', serif;
    background-color: #eee;
    padding: 15px 15px;
    width: 100%;
}

body {
    background: rgb(197, 196, 196);
}

.header-logo {
    height: auto;
    width: 20%;
    margin: 5px 5px;
}

header h1 {
    font-size: 3.0em;
    flex-grow: 1;
    color: darkgreen;
}

header nav a {
    font-size: 1.2rem;
    color: darkgreen;
}

header nav {
    margin-right: 100px;
}

main {
    width: 85%;
    margin: 0 auto;
}

ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.golf-card-image {
    height: 80%;
    margin-left: 75px;
}

li h1 {
    font-size: 1.3em;
    color: darkgreen;
    font-weight: bold;
}

li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* justify-content: space-evenly;
    align-items: center; */
    font-family: 'Slabo 27px', serif;
    border: 2px solid darkgreen;
    background:white;
    height: 200px;
    /* min-width: 150px; */
}

li p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(83, 83, 83);
}

@media only screen and (max-width: 650px) {
    header h1 {
        font-size: 1.2em;
        margin-top: 8px;
    }
    header {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    header nav {
        margin: 8px 0px 5px 0px;
    }
    header nav a {
        font-size: 0.9rem;
    }
    .header-logo {
        height: 90px;
        width: auto;
        margin: 5px 5px;
    }

    .golf-card-image {
        height: 55%;
        margin-left: 0px;
    }

    ul {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        margin-top: 20px;
        margin-bottom: 20px;
    }
    li {
        display: flex;
        /* grid-template-columns: 1fr 1fr;
        align-items: center; */
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Slabo 27px', serif;
        border: 2px solid darkgreen;
        background:white;
        height: 200px;
        /* min-width: 150px; */
    }
    
    
  }